<nav class="col-xs-12 center">
  <div class="input-group col-xs-6">
    <input type="search" class="form-control" placeholder="Search for..." [value]="searchStr" (change)="searchStr = $event.target.value">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" (click)="search()">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </span>
  </div>
</nav>

<div class="col-xs-12 no-padding" id="main">
  <app-brastlewark *ngFor="let item of showingData" [citizen]="item"></app-brastlewark>
</div>


<div class="overlayLoading" *ngIf="loading">
  <i class="glyphicon glyphicon-repeat fast-right-spinner"></i> LOADING...
</div>

<footer>
  <select [(ngModel)]="limit" (change)="search()">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="-1">All</option>
  </select>
</footer>